header {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  background-color: black;

  p {
    margin-left: 1rem;
  }
}

nav {
  margin-left: auto;

  ul {
    list-style: none;
  }

  ul li {
    display: inline-flex;
    margin-left: 1rem;
  }
}